[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/StephanChi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/StephanChi
	label-Verified = -1..+1 group user/StephanChi
	push = group user/StephanChi
	read = group user/StephanChi
	rebase = group user/StephanChi
	removeReviewer = group user/StephanChi
	submit = group user/StephanChi
[access "refs/heads/*"]
	create = group user/StephanChi
	push = +force group user/StephanChi
	pushMerge = group user/StephanChi
	read = group user/StephanChi
[access "refs/tags/*"]
	push = group user/StephanChi
	push = +force group user/StephanChi
[receive]
	createNewChangeForAllNotInTarget = true
[change]
	workInProgressByDefault = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
